/* === GLOBAL SYSTEM === */

* {
  margin: 0;
  box-sizing: border-box;

  --max-width: 1100px;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: "Courier New", monospace;
  font-size: clamp(0.95rem, 2.5vw, 1.1rem);
  background: #f4f1ea;
  color: #111;
  line-height: 1.7;
  overflow-x: hidden; 
  
  cursor:default;
}

/* Mobile first */
section,
header {
  padding: 2.5rem 0;
  width: 85%;
  max-width: var(--max-width);
  margin: 0 auto;
}

/* Tablet */
@media (min-width: 768px) {
  section,
  header {
    padding: 4.5rem 2rem;
  }
}


h1 {
  font-size: clamp(2rem, 6vw, 3rem);
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2.2rem);
}

/* h3 { 
  font-size: clamp(1.25rem, 3vw, 1.65rem); 
} */


.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
}

.hero-subtext {
  margin-top: 1.5rem;
}

.cta {
  margin-top: 1rem;
  text-decoration: none;
  color: #111;
  border-bottom: 1px solid #111;
  width: fit-content;
}

a:active,
a:focus,
a:hover {
  font-weight: 600;
}

.container {
  padding: 2rem 0;
}

.make-bold {
  font-weight:700;
}

a, button {
  min-height: 44px;
}

/* =============== 
TYPE REVEAL 
=============== */

.type-reveal {
  position: relative;
  display: inline-block;
}

.base-text {
  color: #cfcfcf;
}

.fill-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  color: #111;

  /* reveal */
  -webkit-mask-image: linear-gradient(to right, black 50%, transparent 50%);
  mask-image: linear-gradient(to right, black 50%, transparent 50%);

  -webkit-mask-size: 200% 100%;
  mask-size: 200% 100%;

  -webkit-mask-position: right;
  mask-position: right;

  pointer-events: none;
}

.type-reveal.active .fill-text {
  animation: revealFlow 4s steps(40) forwards;
}

@keyframes revealFlow {
  to {
    -webkit-mask-position: left;
    mask-position: left;
  }
} 

/* =============== 
LIST 
=============== */


/* list */
.list {
  margin: 0;
} 

.list ul {
  list-style: none;
  margin-bottom: 1rem;
  color: #555;
  padding: 1rem 0;
}

ul {
  padding: 1rem 4.5rem;
}


/* =============== 
Sticky Scroll 
=============== */

/* STACK SECTION */
.stack-section {
  height: 250vh;
  height: auto;
  position: relative;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 3rem;
  
}

.stack-sticky {
  position: sticky;
  top: 0;
  height: 80vh;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: visible;
}

/* CARD BASE */
.card {
  position: absolute;

  width: clamp(250px, 28vw, 320px);
  height: clamp(380px, 46vw, 480px);

  border-radius: 20px;
  background: #e5e5e5;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  text-decoration: none;
  color: black;
  font-size: clamp(0.8rem, 2vw, 1.1rem);

  border: 3px solid #F6F4ED;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
  will-change: transform;
  overflow: hidden;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.card img {
  display: block; 
  margin: 7% auto 0 auto;    
  
  width: auto;
  height: 70%;
  object-fit: cover;
  border-radius: 15px;
}

.card p {
  position: relative;
  z-index: 2;
  padding: 1rem 1.5rem;
  color: #222222;

  text-align:center;
}

.card:hover {
  font-weight: 600;
  box-shadow: 0 30px 60px rgba(0,0,0,0.25);
}

/* STACK ORDER */
.card-1 { z-index: 5; }
.card-2 { z-index: 4; }
.card-3 { z-index: 3; }
.card-4 { z-index: 2; }
.card-5 { z-index: 1; }

/* HOVER STATE */
.card.active-focus {
  z-index: 20;
  transform: scale(1.05) translateY(-20px);
  box-shadow: 0 30px 60px rgba(0,0,0,0.25);
}

/* -----------------------
   MOBILE 
------------------------ */
@media (max-width: 768px) {

  .stack-section {
    height: auto;
  }

  .stack-sticky {
    position: relative;
    height: auto;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
  }

  .card {
    position: relative;
    width: 100%;
    height: 250px;

    transform: none !important;
    transition: none !important;
  }
}


/* =============== 
PROJECTS - CONTEXT SECTION
=============== */


/* CONTEXT SECTION */

.context-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  margin-bottom: 6rem;
}

.end-space {
  margin-bottom: 6rem;
}

/* Desktop */
@media (min-width: 768px) {
  .context-section {
    grid-template-columns: 1.5fr 1fr;
    margin-bottom: 6rem;
  }
}

/* TEXT */
.context-content {
  width: 100%;
}

/* .context-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
} */

.section-title {
  margin-bottom: 1rem;
}


.context-text {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #444;
  text-align: justify;
}

video {
  width: 100%;
  height: auto;
  display: block;
}

/* VIDEO */
.context-media {
  border-radius: 20px;
  overflow: hidden;
  position: relative;

  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
  border: 0px solid #222222;
}

/* IMAGE */
.context-image {
  position: relative;
}

.context-image img,
.context-media video {
  width: 100%;
  height: auto;
  object-fit: cover;
}


/* =============== 
ABOUT SECTION 
=============== */

/* ABOUT IMAGE */
.about-image {
  position: relative;
  
  width:90%;
  aspect-ratio: 4 / 6;

  z-index: 1;
}

.about-image img {
  width: 100%;
  height: 100%;       
  object-fit: cover;  

  border-radius: 16px;
  filter: grayscale(80%);
}

/* MOBILE */
@media (max-width: 768px) {
  .about-image {
    position: relative;
    
    width:100%;
    height: 300px;

    z-index: 1;
  }

  .about-name-wrap {
    position: absolute;
    bottom: -50%;
  }

  .about-name {
    display: block;
    white-space: normal;
  }
}

.about-name-wrap {
  position: relative;
  z-index: 2;
}

.about-name {
  position: absolute;
  
  font-size: 3rem;
  font-weight: 700;
  color: #b8b63c;
  
  z-index: 3;

  display: block;
  white-space: nowrap;

  animation: moveSide 3s ease-in-out infinite alternate;

  text-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

/* 🎯 animation */
@keyframes moveSide {
  from {
    transform: translateX(-50px);
  }
  to {
    transform: translateX(50px); /* 🔥 adjust range */
  }
}


/* =============== 
SKILLS BAR 
=============== */

.skills {
  max-width: 100%;
  margin-top: 2rem;
}

.skill {
  margin-bottom: 15px;
}

.bar {
  width: 100%;
  height: 10px;
  background: #d4d4d4;
  border-radius: 10px;
  overflow: hidden;
}

.fill {
  height: 100%;;
  border-radius: 10px;
}

/* fill skills colour */
.adobe { background:#F70000; opacity: .75;}
.figma { background:#02D084; opacity: .75;}
.html5 { background:#4A4A4A; opacity: .75;}
.css   { background:#4983a7; opacity: .75;}
.js    { background:#b8b63c; opacity: .75;}



/* =============== 
PAGE NAVIGATION
=============== */

/* =============== 
TOP NAV 
================*/
.top-nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;

  padding: .75rem 2.5rem;
  background: white;

  transform: translateY(-100%); /* start off-screen */
  animation: slideDown 0.7s ease forwards;
  animation-delay: 0.2s;

  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
  backdrop-filter: blur(10px);
  background: rgba(255,255,255,0.85);


  z-index: 2000;
}

.nav-inner {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; /* 🔥 key */
  align-items: center;
}

/* LOGO */
.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.logo img {
  height: 4rem;
  transition: opacity 0.3s ease;
}

.logo:hover img {
  opacity: 0.6; 
}

.menu-toggle {
  font-size: 1.5rem;
  background: none;
  border: none;
}

/* MOBILE NAV */
.nav-links {
  position: absolute;
  top: 65px;
  right: 0;
  background-color: rgba(250, 250, 250, 0.95);
  width: 100%;
  display: none;
  flex-direction: column;
  padding: 1rem;
  justify-content: end;
  align-items: center;
  list-style: none;
}

.nav-links a {
  padding: 0.75rem 0;
  text-decoration: none;
  color: #111;
}

.nav-links a:focus,
.nav-links a:active,
.nav-links a:hover {
  font-weight: 600;
}

/* DESKTOP NAV */
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .nav-links {
    list-style: none;
    background-color: white;
    display: flex;
    position: static;
    flex-direction: row;
    gap: 2rem;
    width: auto;
    padding: .5rem 0;
  }

  .nav-links a {
  position: relative;
  text-decoration: none;
  color: #222;
  font-weight: 500;
  }

}

/* animation */
@keyframes slideDown {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


/* =============== 
SIDE NAVIGATIONS
=============== */

.side-nav {
  position: fixed;
  inset: 0; /* full screen */
  pointer-events: none; /* prevents blocking clicks */
  z-index: 1000;

  opacity: 0;

  animation: navFadeIn 0.6s ease forwards;
  animation-delay: 3.5s;
}

.left-nav,
.right-nav {
  position: absolute;
  top: 330px;
}

.left-nav {
  left: 0;
}

.right-nav {
  right: 0;
}

.left,
.right {
  display: block;
  height: 80px;
  width: 100px;
  border-radius: 40px;
  background-color: rgba(154, 154, 154, 0.25);

  pointer-events: auto; /* 🔥 re-enable clicks */

  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* offset outside edge */
.left {
  transform: translateX(-55px);
}

.right {
  transform: translateX(55px);
}

/* ARROWS */
.left::after,
.right::after {
  content: "";
  position: absolute;
  top: 30px;
  width: 20px;
  height: 20px;

  border-left: 5px solid whitesmoke;
  border-top: 5px solid whitesmoke;
}

/* left arrow */
.left::after {
  left: 65px;
  transform: rotate(-45deg);
}

/* right arrow */
.right::after {
  right: 65px;
  transform: rotate(135deg);
}

/* HOVER */
.left:hover,
.right:hover {
  background-color: rgba(154, 154, 154, 0.5);
}

.left:hover {
  transform: translateX(-50px);
}

.right:hover {
  transform: translateX(50px);
}


/* ANIMATION */
@keyframes navFadeIn {
  to {
    opacity: 1;
  }
}


/* ===============
BOTTOM NAVIGATION
=============== */


/* BACK TO TOP */
.back-to-top {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-81%);
  margin-bottom: 0;
  text-align: center;
  z-index: 1;
}

.back-to-top::before {
  content: "";
  pointer-events: none;
}

.top {
  position: relative;
  display: inline-block;

  /* hide text but keep accessible */
  text-indent: -9999px;
  overflow: hidden;
  white-space: nowrap;

  width: 100px;
  height: 50px;

  margin-top: 1rem;
}

.top::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 3px;
  transform: translateX(-50%) translateY(0);
  transition: transform 0.22s cubic-bezier(0.33, 1, 0.68, 1);

  width: 90px;         
  height: 60px;         

  border: none;

  border-radius: 90px 90px 0 0;

  background-color: #e3e2de; 
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);  
}

.top::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%) translateY(0) rotate(45deg);
  transition: transform 0.22s cubic-bezier(0.33, 1, 0.68, 1);

  width: 20px;
  height: 20px;

  border-left: 5px solid whitesmoke;
  border-top: 5px solid whitesmoke;
}

.top:hover::before {
  transform: translateX(-50%) translateY(-3px);
}

.top:hover::after {
  transform: translateX(-50%) translateY(-3px) rotate(45deg);
}

/* =============== 
FOOTER 
=============== */

footer {
  background: #e3e2de;
  margin-top: 0;
  padding: 3rem 0;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);
}

.footer-inner {
  text-align: center;
}

footer h2 {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
}

.footer-links {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.img-link {
  gap: 1rem;
}

.footer-icon {
  height: 28px;
}

footer a {
  text-decoration: none;
  color: #111;
  position: relative;
}

footer a:focus,
footer a:hover, 
footer a:active {
  font-weight: 600;
  transform: scale(1.02);
  opacity: 0.85;
}

footer a img {
  transition: transform 0.25s ease, opacity 0.25s ease;
}

footer a:hover img {
  transform: scale(1.08);
  opacity: 0.85;
}
/* ===============
=============== */

/* =============== 
PROJECT SAAS
=============== */

.button-Search {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    padding: 15px 20px;
    height: 3.125rem;
    width: 10rem;
    background-color: #ffffff;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #4F46E5;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid #4F46E5;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

    margin-bottom: 1rem;
}

.icon {
  height: 1.8rem;
}

@media (max-width: 768px) {
  .button-Search  {
    margin: 0 auto 1rem auto;            
  }
}

.button-Trial {
    padding: 15px 20px;
    height: 50px;
    width: 140px;
    background-color: #FF5400;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    border-radius: 25px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-Demo {
    padding: 15px 20px;
    height: 50px;
    width: 140px;
    background-color: #FFBD00;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    border-radius: 25px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

/* FONT STYLE */
.font-baloo-38b {
    font-family: "Baloo Da 2";
    font-size: 2.375rem;
    font-weight: 700;
  }

  .font-inter-24b {
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .font-inter-16sb {
    font-family: inter;
    font-size: 1rem;
    font-weight: 400;
  }

/* =============== 
PROJECT SAAS
=============== */


/* =============== 
PROJECT ONE
=============== */

/* RUNNER */
.runner {
  position: absolute;
  top: 20%;
  left: 20%;
}

.runner img {
  width: 70%;
  transition:cubic-bezier(0.19, 1, 0.22, 1);
}

/* ===== COLOUR PALETTE DIV ===== */
.color-palette {
  margin-top: 2rem;
  display: flex;
  gap: 0;

  overflow: hidden;

  box-shadow: 2px 2px 5px rgba(0,0,0,0.15);

  max-width: 100%;
  min-height: 80px;

  margin-bottom: 50px;

}

.color {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  color: white;
  font-size: 0.9rem;
  text-shadow: 2px 2px 4px #000000;
}

@media (max-width: 768px) {
  .color-palette {
    flex-direction: column;  
    height: auto;            
  }

  .color {
    height: 50px;           
    justify-content: flex-start; 
    padding-left: 15px;     
  }
}


/* ===== TYPOGRAPHY DIV ===== */
.typography { 
  max-width: 100%; 
  margin: 45px 0; 
  display: grid;
  padding: 0 20px;
  
  align-items: flex-end;
  justify-content: center;
  grid-template-columns: 2fr 1.5fr 1.5fr;
  gap: 50px; 
} 

@media (max-width: 768px) {
  .typography {
    grid-template-columns: 1fr; 
    gap: 30px; 
    text-align: center; 
  }
}

/* FONT STYLE */
.font-poppins-HH {
    font-family: sans-serif;
    font-size: 56px;
    font-weight: 700;
  }

  .font-poppins-SH {
    font-family: sans-serif;
    font-size: 38px;
    font-weight: 700;
  }

  .font-inter {
    font-family: inter;
    font-size: 36px;
    font-weight: 400;
  }

/* ===== BUTTON DIV ===== */
.buttons { 
  max-width: 100%; 
  margin: 45px 0 90px 0; 
  display: grid;
  padding: 0 20px;
  
  align-items: flex-end;
  justify-content: center;
  grid-template-columns: 2fr 1.5fr 1.5fr;
  gap: 50px; 
  
} 

@media (max-width: 768px) {
  .buttons {
    grid-template-columns: 1fr; 
    gap: 30px; 
    text-align: center; 
  }
}

/* BUTTON STYLE */
.button-style {
    padding: 15px 20px;
    height: 20px;
    background-color: #E0119D;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #F5F5F5;
    text-decoration: none;
    border-radius: 25px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-styleH {
    padding: 15px 20px;
    height: 20px;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    
    text-decoration: none;

    background-color: #ffffff;
    font-weight: 900;
    color: #E0119D;
    border: 3px solid #E0119D;
    border-radius: 25px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.donate {
    background-color: #FFD91B;
    color: #E31837;
}

.donateH {
    background-color: #ffffff;
    border: 3px solid #E31837;
    color: #E31837;
}


.button-styleH:focus, 
.button-styleH:hover {
    cursor: url('./project-one/cancerRibbon.svg'), pointer;
} 

.donateH:focus,
.donateH:hover {
    cursor: url('./project-one/3Dheart_icon.svg'), pointer;
}

/* ===== TRACK VIDEO ===== */
.video-crop {
  width: 100%;      
  height: 78px;       /* visible "strip" height */
  overflow: hidden;
  margin: 0 auto;
}

.video-crop video {
  width: 100%;
  height: auto;

  /* THIS is the key */
  transform: translateY(-44%);
}

/* ===== IMAGE GRID *2 COLUMNS (ASPECT RATIO)*  ===== */
.image-grid {
  max-width: 100%;
  margin: 45px auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* Mobile */
@media (max-width: 480px) {
  .image-grid {
    grid-template-columns: 1fr; /* 1 column */
  }
}

.image-grid img,
.video-crop-grid {
  width: 100%;
  aspect-ratio: 15 / 6; /* ratio */
  
  overflow: hidden;

  box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
}

.image-grid img {
  height: 100%;
  object-fit: cover;
  display: block;
}

.video-crop-grid {
  position: relative;
}

.video-crop-grid video {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* 🔥 THIS is the key */
}

.video-crop-grid video {
  object-position: 40%;
}


/* ===== IMAGE GRID *3 COLUMNS* ===== */

.process-grid { 
  max-width: 100%; 
  margin: 45px auto; 
  display: grid;
  align-items: center; 
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
} 

@media (max-width: 768px) {
  .process-grid {
  grid-template-columns: repeat(auto-fit, minmax(250px, .75fr));
  justify-content: center;
  }
}

.process-grid img { 
  width: 100%; 
  height: auto; 
  display: block; 
  box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
}

/* ===== PROJECT-ONE OUTCOME VISUAL MOCKUP ===== */
.outcome-computer {
  max-width: 900px;
  margin: 160px auto 120px auto;
  text-align: center;
}

.computer {
  position: relative;
  transform: scale(1.5);
}


.computer > img {
  position: relative;
  z-index: 2; 
  width: 90%;
  height: auto;

  pointer-events: none;
}


.xscroll {
  position: absolute; 
  top: 10%;           
  left: 20%;
  width: 60%;
  height: 75%;

  z-index: 3;
  overflow: hidden;
  
}

.xscroll video {
  width: 100%;
  height: 100%;
  object-fit: contain; /* 🔥 fills frame cleanly */
  /* display: block; */

  background: black;
}

/* ===============
PROJECT ONE
=============== */

/* =============== 
PROJECT TWO
=============== */

/* ===== BEFORE AFTER GRID ===== */
.b4after-grid {
  max-width: 900px;
  margin: 45px auto;

  display: grid;
  align-items: center;

  grid-template-columns: 2fr 0.5fr 2fr; 
  gap: 20px; 
}

.b4after-grid img { 
  width: 100%; 
  height: auto; 
  display: block; 
  border-radius: 10px; 
}

.arrow {
  margin-top: 65px;
}

/* ===== ICONS GRID *5 columns* ===== */
.icons-grid { 
  max-width: 100%; 
  margin: 45px auto;
  padding: 45px 20px; 

  display: grid; 
  grid-template-columns: repeat(5, 1fr); 
  gap: 30px; 

  align-items: center;
  justify-items: center;

} 

.icons-grid img { 
  width: 60%; 
  height: auto; 
  display: block;   
}

@media (max-width: 768px) {
  .icons-grid {
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

  .icons-grid img {
    width: 70%; 
  }
}

/* ===== 2 COLS, 1 ROW SPAN 2 ===== */
.process-gridz {
  max-width: 900px;
  margin: 25px auto 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.process-gridz img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

  box-shadow: 0 5px 10px rgba(0,0,0,0.15);

  margin-top: 0;
}

.process-gridz a {
  grid-column: 1 / -1;
  display: block;

  width: 100%;        /* desired width */
  height: auto;       /* visible "strip" height */
  overflow: hidden;
  margin: 0 auto;

  transition: transform 0.3s ease;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.process-gridz a img {
  width: 100%;
  height: auto;
}

.process-gridz a:hover {
  border: 4px solid #CADB39;
}

.process-gridz a img {
  margin: 0 auto 0 auto;
  
}

/* ===== PROJECT-TWO OUTCOME VISUAL MOCKUP ===== */

.outcome-web {
  position: relative; /* 🔥 important */

  max-width: 900px;
  margin: 60px auto 80px auto;

  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.desktop {
  order: 2;
  position: relative;
  z-index: 3; /* 🔥 always on top */
  transform: scale(1.6);

  margin-top: 130px;
}

.desktop > img {
  position: relative;
  z-index: 2; 
  width: 90%;
  height: auto;

  pointer-events: none;
}


.scroll {
  position: absolute; 
  top: 10%;           
  left: 15%;
  width: 60%;
  height: 75%;

  z-index: 3;
  overflow: hidden;

}

.scroll video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 🔥 fills frame cleanly */
  display: block;

  background: black;
}

.webpage {
  order: 1;
  position: relative;
  left: 0;
  width: 150%;

  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  overflow: hidden;

  z-index: 1;
}

.webpage img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.webpage {
  transform: translateX(-5%);
  z-index: 1;
}

/* ===============
PROJECT TWO
=============== */

/* =============== 
PROJECT THREE
=============== */

/* ===== BEFORE AFTER HOVER SLIDER ===== */
.ba-hover {
  position: relative;
  max-width: 800px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 12px;
}

/* both images fill */
.ba-hover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* AFTER overlay */
.before-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 85%; /* hidden initially */
  height: 100%;
  overflow: hidden;

  transition: width 0.6s cubic-bezier(0.56, 0, 0.175, 1);
}

/* hover effect */
.ba-hover:hover .before-wrapper {
  width: 5%;
}

.before-wrapper::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: white;
}

.before-wrapper::before {
  content: "⟷";

  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);

  width: 60px;
  height: 60px;

  background: white;
  border-radius: 30px 0 0 30px; /* 🔥 half circle */

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  font-weight: bold;

  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* ===== PROJECT-THREE OUTCOME VISUAL MOCKUP ===== */
.deck-post {
  position: relative; /* 🔥 important */

  max-width: 900px;
  margin: 180px auto;

  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.screen {
  position: relative;
  z-index: 3; /* 🔥 always on top */
  transform: scale(1.6);
}

.screen > img {
  position: relative;
  z-index: 2; 
  width: 90%;
  height: auto;
}

.slide {
  position: absolute; 
  top: 10%;           
  left: 15%;
  width: 60%;
  height: 75%;

  z-index: 1;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page {
  position: absolute;
  right: 0;
  width: 52%;

  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  overflow: hidden;

  z-index: 1;
}

.page img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

/* back */
.page:nth-child(2) {
  top: -50%;
  transform: translateX(10%);
  opacity: 0.9;
}

/* front */
.page:nth-child(3) {
  top: 50%;
  transform: translateX(10%);
}

/* ===============
PROJECT THREE
=============== */

/* =============== 
PROJECT FOUR
=============== */

/* ===== APPROACH IMG ===== */
.image-container {
    width: 100%;
    margin: 50px 0 0 0;
    
    box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
  }

.image-container img {
  width: 100%;
  object-fit: cover;
  display: block;
}

/* ===== PROJECT-FOUR FONT STYLES ===== */
.font-knewave {
  font-family: knewave;
  font-size: 80px;
  font-weight: 400;
}

.font-caveat {
  font-family: caveat;
  font-size: 64px;
  font-weight: 700;
}

.font-poppins {
  font-family: poppins;
  font-size: 48px;
  font-weight: 500;
}


/* ===== PROJECT-FOUR ICONS GRID ===== */
.icons-ss-grid { 
  max-width: 100%; 
  margin: 45px auto; 
  padding: 45px 20px;

  display: grid;   
  grid-template-columns: repeat(4, 1fr); 
  gap: 30px; 

  align-items: center;
  justify-items: center;
} 

.icons-ss-grid img { 
  width: 55%; 
  display: block; 
}

@media (max-width: 768px) {
  .icons-ss-grid {
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

  .icons-ss-grid img {
    width: 70%; 
  }
}

/* ===== PROCESS GRID2 ===== */
.process-grid2 { 
  max-width: 900px; 
  margin: 45px auto; 
  display: grid;
  align-items: center; 
  grid-template-columns: repeat(2, 1fr);
  gap: 40px; } 

.process-grid2 img { 
  width: 100%; 
  height: auto; 
  display: block; 
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
}

@media (max-width: 768px) {
  .process-grid2 {
  grid-template-columns: repeat(auto-fit, minmax(250px, .75fr));
  justify-content: center;
  }
}

/* ===== PROJECT-FOUR OUTCOME VISUAL MOCKUP ===== */
.social-post {
  max-width: 900px;
  margin: 100px auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;  
  gap: 10px;
}

.social-post_ {
  max-width: 900px;
  margin: -120px auto 100px auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
  gap: 10px;
}

/* BIG FEATURE (phone) */
.phone {
  position: relative;
  grid-row: span 2; /* 🔥 takes full height */
  border-radius: 10px;
  overflow: hidden;

  transform: scale(1.25);
}

.phone > img {
  position: relative;
  z-index: 2; /* 🔥 sits above GIF */
  width: 100%;
  height: auto;
}

.IGpost {
  position: absolute; /* 🔥 take out of flow */
  top: 18.5%;            /* adjust to fit screen */
  left: 2%;
  width: 95%;
  height: 55%;

  z-index: 1;
  overflow: hidden;
}

.IGpost img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SMALL IMAGES */
.thumb {
  margin: 55px 0 0 0;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
}

/* ALL IMAGES */
.social-post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.social-post_ img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
}

/* ===============
PROJECT FOUR
=============== */

/* =============== 
PROJECT FIVE
=============== */

.content {
  max-width: 100%;
  margin: 25px auto;
}

.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

  border-radius: 10px;
}

.suze-container {
  width: 100%;
  margin: 0 auto;
  padding: 0;

  display: flex;
  direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;

  gap: 1.25rem;
}

@media (max-width: 768px) {
  .suze-container {
    flex-direction: column;
  }

  .suze-container img {
    width: 80%;
    height: 65%;
    object-fit: contain;
  }
}

  .suze-sm {
    height: 18rem;
    width: auto;
    border-radius: 10px;
  }


  .suze-lg {
    height: 32rem;
    width: auto;
    border-radius: 10px;
  }

.space-up {
  transform: translateY(-20%);
}

